html {
    background-image: url(../../img/maple.jpg);
    background-size: cover;
    background-attachment: fixed;
}

html {
    height: 100%;
    width: 100%;
}

[hidden] {
    display: none;
}

.nav {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    position: fixed;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav-scroll {
    background-color: #555;
    z-index: 1;
}

.nav .logo,
.nav .navbar {
    display: inline-block;
    font-size: 1rem;
}

.nav .logo {
    width: 5%;
}

.nav .navbar {
    width: 95%;
    text-align: right;
}

.nav .navbar .navlink {
    padding: 20px;
    color: rgb(180, 180, 180);
    font-size: 1.33rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.nav .navbar .navlink:hover {
    color: rgb(255, 102, 0);
    transform: scale(1.1);
}

.nav .aboutme-content {
    width: 300px;
    padding: 40px 20px;
    display: inline-block;
    background-color: #e4fffd;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: right 0.3s ease-out;
    transition: right 0.3s ease-out;
    cursor: pointer;
}

.nav .aboutme-content[hidden] {
    right: -100%;
}

.nav .aboutme-content .close-side {
    font-size: 20px;
    color: #555;
    width: 140px;
    border: 0;
    background-color: #e4fffd;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
}

.nav .aboutme-content .close-side:hover {
    color: rgb(250, 204, 0);
    transform: scale(1.1);
}

.nav .me-pic {
    padding: 20px 70px;
}

.nav .me-pic img {
    border-radius: 50%;
    border: 2px solid #181e29;
}

.nav .aboutme-content .person-info {
    padding: 10px 10px;
    text-align: center;
}

.nav .aboutme-content .person-info p {
    font-size: 13px;
    color: #555;
    font-family: kids-font;
}

.nav .aboutme-content .qrcode {
    padding: 20px 70px;
}

.nav .aboutme-content .motto {
    font-size: 12px;
    color: #555;
    font-family: kids-font;
}