html {
    background-image: url(../../img/maple.jpg);
    background-size: cover;
    background-attachment: fixed;
}

html {
    height: 100%;
    width: 100%;
}

.nav {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    padding: 20px 0;
    top: 0;
    left: 0;
    right: 0;
}

.nav-scroll {
    background-color: #555;
}

.nav .logo,
.nav .navbar {
    display: inline-block;
    font-size: 1rem;
}

.nav .logo {
    width: 20%;
}

.nav .navbar {
    width: 80%;
    text-align: right;
}

.nav .navbar .navlink {
    padding: 20px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3;
    font-family: kids-font;
}

.nav .navbar .navlink:hover {
    color: #fff;
    transform: scale(1.2);
}

.nav .aboutme-content {
    width: 300px;
    padding: 20px;
    display: inline-block;
    background-color: #e4fffd;
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.nav .aboutme-content[hidden] {
    right: -100%;
}

.nav .aboutme-content .close-side {
    font-size: 16px;
    color: #555;
    width: 140px;
    /* padding: 10px 0; */
    border: 0;
    background-color: #e4fffd;
    cursor: pointer;
    font-family: kids-font;
    outline: none;
}

.nav .aboutme-content .close-side:hover {
    color: rgb(250, 204, 0);
    transform: scale(1.1);
}

.nav .me-pic {
    padding: 20px 70px;
}

.nav .me-pic img {
    border-radius: 50%;
    border: 2px solid #181e29;
}

.nav .aboutme-content .person-info {
    padding: 10px 10px;
    text-align: center;
}

.nav .aboutme-content .person-info p {
    font-size: 13px;
    color: #555;
    font-family: kids-font;
}

.nav .aboutme-content .qrcode {
    padding: 20px 70px;
}

.nav .aboutme-content .motto {
    font-size: 12px;
    color: #555;
    font-family: kids-font;
}