.nav .navbar .home {
    color: rgb(255, 102, 0);
}

.area1 {
    margin-top: 104px;
}

.area1 .content {
    display: -webkit-inline-flex;
    display: inline-flex;
    font-size: 0;
    padding: 200px 0;
}

.area1 .desc {
    font-size: 3rem;
    width: 60%;
    padding: 40px 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.area1 .desc .self-intro {
    line-height: 3.5rem;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(2, 119, 208)), to(rgb(55, 24, 0)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.area1 .desc-pic {
    width: 40%;
    padding: 40px 80px;
}

.area1 .desc-pic img {
    height: 160px;
    border-radius: 50%;
    border: 2px solid rgb(28, 61, 0);
}

.area2 {
    background-color: rgba(216, 216, 216, 0.35);
}

.area2 .library {
    padding: 40px 0;
}

.area2 .library .liblink {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    margin: 20px 0;
    font-weight: bold;
    transition: all 0.3s ease-out;
}

.area2 .library .liblink:hover {
    color: rgba(224, 90, 0, 0.8);
    transform: scale(1.1);
}

.area2 .shelf {
    margin-top: 80px;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.area2 .shelf .booklist {
    width: 280px;
    margin: 0 40px 25px 0;
    padding: 0 20px;
    background-color: rgba(139, 139, 139, 0.25);
}

.area2 .shelf .booklist img {
    height: 200px;
    margin-left: 50px;
    margin-top: 20px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.area2 .shelf .booklist img:hover {
    transform: scale(1.2);
}

.area2 .shelf .booklist .book-desc {
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}