.content {
    margin-top: 104px;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
}

.content .category-nav {
    font-size: 1.7rem;
    width: 24%;
    color: rgb(0, 96, 141);
    font-weight: bold;
}

.content .category-nav,
.content .main-content {
    margin: 40px 0;
    background-color: rgba(246, 246, 246, 0.75);
    border-radius: 5px;
    box-shadow: #aaa 5px 5px 5px;
    padding: 40px 20px;
}

.content .category-nav .level1 {
    display: block;
    user-select: none;
    font-size: 1.3rem;
    margin: 20px 0;
    cursor: pointer;
    color: rgb(189, 85, 0);
    font-weight: bold;
}

.content .category-nav .level1:before {
    margin-right: 10px;
}

.content .category-nav .level1 li {
    color: rgb(107, 3, 110);
    font-size: 0.9rem;
    line-height: 2rem;
    list-style-type: none;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.content .category-nav .level1 li:hover {
    transform: scale(1.1);
    color: rgb(173, 2, 179);
}

.content .main-content {
    margin-left: 24px;
    font-size: 1rem;
    width: 74%;
}

.content .main-content .hotsearch {
    display: -webkit-inline-flex;
    display: inline-flex;
    font-size: 0;
    width: 100%;
}

.content .main-content .hotsearch .hotrecom {
    font-size: 1rem;
    width: 60%;
}

.content .main-content .hotsearch .hotrecom .recomlist {
    padding: 10px 10px;
}

.content .main-content .hotsearch .searchbar {
    font-size: 1rem;
    width: 40%;
    text-align: right;
}

.content .main-content .hotsearch .searchbar .inputs {
    border: 0;
    padding-left: 15px;
    height: 50px;
    width: 280px;
    vertical-align: top;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #181e29;
}

.content .main-content .hotsearch .searchbar .inputs:focus {
    outline: none;
}

.content .main-content .hotsearch .searchbar .inputs::-webkit-input-placeholder {
    color: #5c7d92;
}

.content .main-content .hotsearch .searchbar .btn-search {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: #506c9e;
    color: #fde0fd;
    margin-left: -10px;
    font-size: 24px;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
